@import url(https://db.onlinewebfonts.com/c/c36a75c5ada59665e225bbf5e38efd34?family=Averta-Bold);
@import url(https://db.onlinewebfonts.com/c/f036e81e6040acc6b43aabc036862d21?family=Averta-Regular);
@import url(https://db.onlinewebfonts.com/c/a78cfad3beb089a6ce86d4e280fa270b?family=Calibri);
@import url(https://db.onlinewebfonts.com/c/f520e19281e4912539d5cf95df29e683?family=Nunito+Light);

*{
  font-family: 'Averta-Regular';
}

h1{
  font-family: 'Averta-Bold';
}

body {
  margin: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/*Rifa Form*/
.RifaForm {
  color: white;
  padding: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.input-rifaform{
  border:'solid';
  border-color:'#0c7489'; 
  border-radius: 8; 
  border-width: '2px';  
  background-color:'#F2F2F2';
}

/*Login*/
.login {
  width: 1300px;
  height: 500px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.login Form.Item{
  width:400px;
}

/*Signup*/
.signup {
  width: 1300px;
  height: 500px;
  margin: 20px;
  margin-top: 80px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}


/*RifaDetails*/
.rifa-details{
   display:flex;
   justify-content: center;
   margin-top:50px;
}

.edit-profile {
  width: 1500px;
  /* height: 500px; */
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  
}




